<div class="main">
    <div class="box">
        <img src="https://www.top13.net/wp-content/uploads/2015/10/perfectly-timed-cat-photos-funny-cover.jpg" alt="funny cat"/>
        <a href="/">Go back home</a>
    </div>
</div>