<div class="private">
    <div class="box">
        <img src="https://media.giphy.com/channel_assets/reactions/k2ybPvSfRQuK/200h.gif" alt="boss dog"/>
        <h1><strong>VIP PAGE</strong> <br> Only logged in menbers allowed</h1>
    </div>
</div>